zmodule completion
zmodule environment
zmodule input

zmodule archive
zmodule fzf
zmodule utility

zmodule duration-info
zmodule git-info

zmodule zsh-users/zsh-completions --fpath src
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions

zmodule ohmyzsh/ohmyzsh --root plugins/git
zmodule ohmyzsh/ohmyzsh --root plugins/rust
zmodule ohmyzsh/ohmyzsh --root plugins/sudo
zmodule kiesman99/zim-zoxide
zmodule joke/zim-github-cli
zmodule joke/zim-starship
