# This is Git's per-user configuration file.
[commit]
	gpgsign = yes
[core]
    editor = code --wait
    autocrlf = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
[gpg]
	program = gpg2
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[user]
	name = 我可能很廢
	email = nicks96432@gmail.com
	signingkey = F02BDE0C
[credential]
	helper = store
