@import "theme.css";

* {
  box-shadow: none;
  transition: none;
}

#waybar {
  font-family: "FiraCode Nerd Font Mono Ret", "jf-openhuninn-2.1", FontAwesome, monospace;
  font-size: 1.2em;
  color: @base05;
  background-color: @base01;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  margin: 0 4px;
  padding: 4px;
  color: @base05;
}

#workspaces button.visible {}

#workspaces button.active {
  border-radius: 4px;
  background-color: @base02;
}

#tray {
  margin: 4px;
  border-radius: 4px;
}

#tray * {
  padding: 0 6px;
}

#mode,
#battery,
#power-profiles-daemon,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#custom-storage,
#custom-updates,
#custom-weather,
#custom-wlogout,
#custom-mail,
#clock,
#temperature {
  margin: 4px;
  padding: 0 6px;
  background-color: transparent;
  min-width: 20px;
}

#pulseaudio.muted {
  color: @base0f;
}

#pulseaudio.bluetooth {
  color: @base0c;
}

#clock {
  margin-left: 0px;
  margin-right: 4px;
  background-color: transparent;
}

#temperature.critical {
  color: @base0f;
}
