* {
    background-image: none;
    font-size: 24px;
}

@import "../waybar/theme.css";

window {
    background-color: transparent;
}

button {
    color: @base02;
    background-color: @base01;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @base03;
    background-size: 20%;
}

button:hover {
    background-color: @base03;
    background-size: 25%;
    border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, 0.0, 0.28, 1.682);
}

button:hover#lock {
    border-radius: 20px 20px 0px 20px;
    margin : 2px 0px 0px 2px;
}

button:hover#logout {
    border-radius: 20px 0px 20px 20px;
    margin : 0px 0px 2px 2px;
}

button:hover#shutdown {
    border-radius: 20px 20px 20px 0px;
    margin : 2px 2px 0px 0px;
}

button:hover#reboot {
    border-radius: 0px 20px 20px 20px;
    margin : 0px 2px 2px 0px;
}

#lock {
    background-image: image(url("/usr/share/wlogout/assets/lock.svg"));
    color: @base05;
    border-radius: 20px 0px 0px 0px;
    margin : 2px 0px 0px 2px;
}

#logout {
    background-image: image(url("/usr/share/wlogout/assets/logout.svg"));
    color: @base05;
    border-radius: 0px 0px 0px 20px;
    margin : 0px 0px 2px 2px;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/assets/shutdown.svg"));
    color: @base05;
    border-radius: 0px 20px 0px 0px;
    margin: 2px 2px 0px 0px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/assets/reboot.svg"));
    color: @base05;
    border-radius: 0px 0px 20px 0px;
    margin : 0px 2px 2px 0px;
}
